{% load static %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&family=Roboto+Flex:opsz,wght@8..144,300;8..144,400;8..144,500;8..144,600&family=Roboto+Serif:opsz,wght@8..144,100;8..144,300;8..144,400;8..144,500;8..144,700&family=Roboto:ital,wght@0,100;0,500;0,700;1,300&display=swap"
          rel="stylesheet">
    <title>{% block title %}Blog{% endblock %}</title>
</head>
<body>
<header class="header">
    <div class="container">
        <div class="header-inner">
            <div class="menu col-md-12">
                <ul>
                    {% if user.is_authenticated %}
                        <li class="menu-greet"> Привет, {{ user.username }}</li>
                        <li class="menu-greet">
                            <form action="{% url 'accounts:logout' %}?next={{ request.get_full_path }}" method="post">
                                {% csrf_token %}
                                <input type="submit" class="btn btn-outline-light" value="Выйти">
                            </form>
                        </li>
                    {% else %}
                        <li class="menu">
                            <a href="{% url 'accounts:login' %}" class="btn btn-outline-light">Войти</a>
                            <a href="{% url 'accounts:register' %}" class="btn btn-outline-light">Зарегестрироваться</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <div class="header-inner">
            <div class="col-md-3">
                <a href="{% url 'issue_tracker:index' %}" class="header_logo">Issue Tracker</a>
            </div>
            <div class="menu col-md-9">
                <ul>
                    <li class="home"><a href="{% url 'issue_tracker:index' %}">
                        <iconify-icon icon="fa:home" style="color: #242582;"></iconify-icon>
                    </a>
                    </li>
                    <li class="menu">
                        <a href="{% url 'issue_tracker:project_list' %}" class="nav-link">Проекты</a>
                    </li>
                    {% if user.is_authenticated %}
                        <li class="menu">
                            <a href="{% url 'issue_tracker:project_create' %}" class="nav-link">Добавить проект</a>
                        </li>
                        <li class="menu">
                            <a href="{% url 'issue_tracker:issue_create' %}" class="nav-link">Добавить задачу</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</header>
<div class="intro">
    <div class="container">
        <h2 class="summary_intro">Issue Tracker</h2>
        <h3 class="text_intro">your personal issue manager</h3>
    </div>
</div>
<div class="container">
    {% block content %}{% endblock %}
</div>
<script src="https://code.iconify.design/iconify-icon/1.0.0-beta.3/iconify-icon.min.js"></script>
</body>
</html>
