{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
    {% include 'partial/search.html' %}
    <div class="content">
        <div class="card-group">
            {% for issue in issues %}
                {% include 'partial/issue_card.html' with footer='issues' %}
            {% empty %}
                <h2 class="delete-text">Задачи не найдены</h2>
            {% endfor %}
        </div>
        <div class="paginator-box">
            {% if is_paginated %}
                {% include 'partial/pagination.html' %}
            {% endif %}
        </div>
    </div>
{% endblock %}
